<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<<<<<<< HEAD
<td>Procedures_Scripts.Procedures_upload_file</td>
=======

<td>directory_Scripts.Directory_Scripts</td>

<td>Procedures_Scripts.Procedures_Documents_crud</td>

>>>>>>> a269d55b2f17ff040eb06ad508334d9b09083a83
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<<<<<<< HEAD
<td>Procedures_uploading_file</td>
=======

<td>directory_Scripts</td>

<td>Procedures_Documents_crud_operations</td>

>>>>>>> a269d55b2f17ff040eb06ad508334d9b09083a83
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LaunchBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LogOut</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Quit</td>
<td>&nbsp;</td></tr>
</table>
