<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<<<<<<< HEAD
<tr bgcolor="7486f4">  <td>21/03/18 19:01:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSetup.LaunchBrowser()[pri:0, instance:Procedures_Scripts.Procedures_upload_file@76a4ebf2]">&gt;&gt;LaunchBrowser</td> 
=======

<tr bgcolor="75b7e8">  <td>21/03/17 04:36:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSetup.LaunchBrowser()[pri:0, instance:directory_Scripts.Directory_Scripts@72035809]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td>  <td>main@1758056825</td>   <td></td> </tr>
<tr bgcolor="75b7e8">  <td>21/03/17 04:50:40</td>   <td>835418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.LogOut(org.testng.ITestResult)[pri:0, instance:directory_Scripts.Directory_Scripts@72035809]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td>  <td>main@1758056825</td>   <td></td> </tr>
<tr bgcolor="75b7e8">  <td>21/03/17 04:50:43</td>   <td>838822</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.Quit()[pri:0, instance:directory_Scripts.Directory_Scripts@72035809]">&lt;&lt;Quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1758056825</td>   <td></td> </tr>
<tr bgcolor="69b785">  <td>21/03/17 04:40:03</td>   <td>198905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Directory_Scripts.directory_Scripts()[pri:0, instance:directory_Scripts.Directory_Scripts@72035809]">directory_Scripts</td> 
  <td>main@1758056825</td>   <td></td> </tr>

<tr bgcolor="7486f4">  <td>21/03/17 11:16:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSetup.LaunchBrowser()[pri:0, instance:Procedures_Scripts.Procedures_Documents_crud@76a4ebf2]">&gt;&gt;LaunchBrowser</td> 
>>>>>>> a269d55b2f17ff040eb06ad508334d9b09083a83
<td>&nbsp;</td>  <td>main@1863374262</td>   <td></td> </tr>
<tr bgcolor="7486f4">  <td>21/03/18 19:05:30</td>   <td>238868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.LogOut(org.testng.ITestResult)[pri:0, instance:Procedures_Scripts.Procedures_upload_file@76a4ebf2]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td>  <td>main@1863374262</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/03/18 19:04:11</td>   <td>159337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Procedures_upload_file.Procedures_uploading_file()[pri:0, instance:Procedures_Scripts.Procedures_upload_file@76a4ebf2]">Procedures_uploading_file</td> 
  <td>main@1863374262</td>   <td></td> </tr>
<tr bgcolor="7486f4">  <td>21/03/18 19:05:40</td>   <td>248454</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.Quit()[pri:0, instance:Procedures_Scripts.Procedures_upload_file@76a4ebf2]">&lt;&lt;Quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1863374262</td>   <td></td> </tr>

</table>
