<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f8e63">  <td>21/03/05 10:01:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSetup.LaunchBrowser()[pri:0, instance:CRUD_Operation_Scripts.CreationOf_Category@6591f517]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td>  <td>main@240166646</td>   <td></td> </tr>
<tr bgcolor="6f8e63">  <td>21/03/05 10:04:35</td>   <td>155921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.LogOut(org.testng.ITestResult)[pri:0, instance:CRUD_Operation_Scripts.CreationOf_Category@6591f517]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td>  <td>main@240166646</td>   <td></td> </tr>
<tr bgcolor="6f8e63">  <td>21/03/05 10:07:17</td>   <td>317860</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.Quit()[pri:0, instance:CRUD_Operation_Scripts.CreationOf_Category@6591f517]">&lt;&lt;Quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@240166646</td>   <td></td> </tr>
<tr bgcolor="a3ec6b">  <td>21/03/05 10:04:04</td>   <td>124924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreationOf_Category.creationOfCategory()[pri:0, instance:CRUD_Operation_Scripts.CreationOf_Category@6591f517]">creationOfCategory</td> 
  <td>main@240166646</td>   <td></td> </tr>
</table>
