<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9da26d">  <td>21/03/10 22:42:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSetup.LaunchBrowser()[pri:0, instance:Security_Construction_Scripts.Security_Construction_MaterialsGroup_Script@5afa3c9]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td>  <td>main@1551446957</td>   <td></td> </tr>
<tr bgcolor="8485b5">  <td>21/03/10 22:42:26</td>   <td>9108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Security_Construction_MaterialsGroup_Script.security_Construction_MaterialsGroup_Script()[pri:0, instance:Security_Construction_Scripts.Security_Construction_MaterialsGroup_Script@5afa3c9]">security_Construction_MaterialsGroup_Script</td> 
  <td>main@1551446957</td>   <td></td> </tr>
<tr bgcolor="9da26d">  <td>21/03/10 22:42:26</td>   <td>9135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.LogOut(org.testng.ITestResult)[pri:0, instance:Security_Construction_Scripts.Security_Construction_MaterialsGroup_Script@5afa3c9]">&lt;&lt;LogOut</td> 
<td>&nbsp;</td>  <td>main@1551446957</td>   <td></td> </tr>
<tr bgcolor="9da26d">  <td>21/03/10 22:42:26</td>   <td>9137</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSetup.Quit()[pri:0, instance:Security_Construction_Scripts.Security_Construction_MaterialsGroup_Script@5afa3c9]">&lt;&lt;Quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1551446957</td>   <td></td> </tr>
</table>
